@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.head{
    font-family: 'Poppins', sans-serif;
}

.image{
    width: 100%;
    height: 450px;
    
}

.active-link {
    border-bottom: 2px solid rgb(65, 201, 65);
    color: rgb(42, 171, 42);
  }

.border{
    border: 40px solid white;
    border-radius: 100%;
}


.display_image{
    height: 270px;
    width: 250px;
}

.larger_image{
    width: 900px;
    height: 500px;
}

.logo {
    width: 400px;
    height: 160px;
    object-fit: contain;
}

.detailPageImage {
    width: 500vh;
    height: 500vh;
}

.relatedphoto {
    height: 200px;
    width: 200px;
    object-fit: contain;
}